# Homework Data wrangling with Telco mini dataset

Note เราจะใช้ข้อมูลที่ชื่อว่า telco_mini.csv

ข้อไหนที่ตอบเป็น text อย่าลืมใส่ # ข้างหน้านะคะ

เช่น # ตอบว่ามีหรือไม่มี  # ตอบว่า ไม่มี  เป็นต้น

ให้รัน code ทุกบรรทัด การบ้านคะแนนเต็ม 10 คะแนน (ข้อละ 2 คะแนน)

In [7]:
%matplotlib inline
import pandas as pd

df = pd.read_csv('telco_mini.csv')

In [ ]:
df.head()

In [3]:
print(df.shape)

(50, 13)

# Exercise 1
จงใช้คำสั่ง .info เพื่อแสดงให้เห็นถึง datatype ของแต่ละ column ของ df

In [8]:
#  your code here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerID       50 non-null     object
 1   Age              47 non-null     float64
 2   gender           50 non-null     object
 3   SeniorCitizen    50 non-null     object
 4   Partner          50 non-null     object
 5   PhoneService     50 non-null     object
 6   InternetService  50 non-null     object
 7   StreamingTV      50 non-null     object
 8   Contract         50 non-null     object
 9   PaymentMethod    50 non-null     object
 10  MonthlyCharges   50 non-null     float64
 11  TotalCharges     50 non-null     float64
 12  Churn            50 non-null     object
dtypes: float64(3), object(10)
memory usage: 5.2+ KB

มี column ใดที่มี datatype ไม่เหมาะสมหรือไม่ ถ้ามีให้แปลงเป็น datatype ที่เหมาะสม

In [ ]:
# ตอบว่า มีหรือไม่มี

# Exercise 2
จงใช้คำสั่ง .describe เพื่อแสดงให้เห็นถึงค่าสถิติ ของแต่ละ column ของ df ที่เป็น numerical data

In [15]:
#  your code here

             Age  MonthlyCharges  TotalCharges
count  50.000000       50.000000     50.000000
mean   35.680800       67.244000   2320.679000
std    15.680622       28.522323   2333.552125
min    19.000000       18.950000     20.150000
25%    27.000000       49.325000    305.650000
50%    30.500000       67.675000   1685.675000
75%    33.000000       94.187500   3817.337500
max    84.000000      113.250000   7895.150000

# Exercise 3
จงแสดงให้เห็นว่าแต่ละ column มีจำนวน missing data หรือ Nan อยู่กี่ข้อมูล

In [ ]:
# your code here

# Exercise 4

จงใช้คำสั่ง .mean() แสดงค่าเฉลี่ยของอายุของลูกค้าในชุดข้อมูลนี้

In [11]:
# your code here

35.680851063829785

# Exercise 5

จงใช้ข้อมูลค่าเฉลี่ยของกลุ่มลูกค้าเพื่อใช้ในการแก้ไข missing value

In [12]:
# your code here

In [13]:
df.Age.isnull().sum()

0