# Lab 2 Statments, variables, datatypes, and operators

Objectives:

1. Learn how to name, declare and assign value to a variable.
2. Learn how to use operators of different datatypes.

# Variables
variables are used to store data

**Variable naming rules**
1. Can only contain alpha-numeric characters and underscores
A-z, 0-9, and _
2. Must start with a letter or the underscore character.
3. Must not start with a number.
4. Are case-sensitive (age, Age and AGE are three different variables)
5. Not conflict with any Python keywords

In [ ]:

import numpy as np
import keyword
np.reshape(keyword.kwlist, (5, 7))

In [ ]:
variable_1 = 20

In [ ]:
test-1 = 20

In [ ]:
1_variable = 10

**Exercise #:** Which one of the following is invalid for variable name?

var_1, _var1, 1_var, 111, for, var#1

**Variable assignment**
Python variables do not need explicit declaration to reserve memory space. A data value is assigned to the targeted variable using its name via equal sign (=) as  an assignment operator. To a the value to a variable, the name of variable name is on the left and the assigned value is on the right

1. Assign a value to the variable
        a = 20
        print(a)
        print(type(a))
2. Assign the same value to multiple variables
        a = b = 20
        print(a)
        print(b)
3. Assign multiple value to multiple variables
        a, b = 20, 30
        print(a)
        print(b)

In [ ]:
        a = 20
        print(a)
        print(type(a))

20
<class 'int'>

In [ ]:
a = 20
print(type(a))
a = 'test'
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
        students_dict = {'1001':'Bobs','1008':'Delan','1010':'Doe'}
        print(type(students_dict))

<class 'dict'>

**3. Sequences**

*   String is a sequence of characters. This datatype often use to handle text formated data. Single quote or double quote can be used to create a string within one-line, and tripple quote is used to create a string across multiple line.

        str_name = "John"
        str_surname = 'Doh'
        str_description = '''Single quote or double quote can be used to create a string within one-line,
        and tripple quote is used to create a string across multiple line.'''

*   List is a sequence of mutable objects. List operators are the following

  - Creating list:

          name_list = ['Bobs','Alice','john']

  - Accessing the object in list:
          name_list[0]

   - Deleting the object in list:
          del name_list[0]

   - Updating the object in list
          name_list[0] = 'New user'
   - Adding an object to the list:

          name_list.append(‘Napa’)
    - Determine the number of objects in list: len()
          len(name_list)

*   Tuple is a sequence of immutable objects (allowing faster execution). Tuple operators are the following

  - Creating list:

          name_tuple = ('Bobs','Alice','john')

  - Accessing the object in list:
          name_tuple[0]
  - Determine the number of objects in list: len()
          len(name_tuple)

In [ ]:
str_name = "John"
str_surname = 'Doh'
str_description = '''Single quote or double quote can be used to
  create a string within one-line, and tripple quote is used to create
  a string across multiple line.'''
print(str_name)
print(str_name[0])
print(str_description)

John
J
Single quote or double quote can be used to
  create a string within one-line, and tripple quote is used to create
  a string across multiple line.

In [ ]:
my_age = 25.5
print("I am %.2f years old" % my_age)

I am 25.50 years old

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict['color'] = 'yellow'
thisdict.update({'color': 'yellow1'})
thisdict['color'] = 'red'

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Exercise #:** Write code to create a collection variable named carCollection with 5 member: 'Benz', 'Honda', 'Toyota', 'BMW', 'MG' with the following datatypes:
 1. set
 2. tuple
 3. list

In [ ]:
carCollection = []
# 1. set

print('1. ',type(carCollection))
# 2. tuple

print('2. ',type(carCollection))
# 3. list

print('3. ',type(carCollection))

1.  <class 'list'>
2.  <class 'list'>
3.  <class 'list'>

# Python statement#

Usually, there is one python statement per line -- no need for semicolon in this case.
      z = 20+31
      b = z+ 52
      print('z = ',z)    

1. Multiple line statement: For a long statement, it can be put across multiple lines by:
- put \ at the end of *to be continued* statement
- if the statement contains any type of parenthesese, the statement continues across lines until the closing parenthesis has been reached.

In [ ]:
x = 1 + 2 \
+ 3 + 4 \
+ 5 + 6
print(x)

In [ ]:
mylist = ["apple",
          "banana", "cherry"]
print(name_list1)

In [ ]:
name_list1 = ["Bobs",
              "Jane",
              "John"]
print(name_list1)

2. Multiple statements per line: Also, multiple statements can be put in a single line and they are seperated by semicolon ;.

In [ ]:
age = 20; gender = 'Male'

# User input#

Input method can be used to retrieve input from users and store in assigned (string) variable.
1. One input per statement
	  
    #syntax: <variable> = input(‘Prompt statement: ’)  
        fruit_name = input(‘Please enter your favorite fruit’)

2. Multiple input per statement

In [ ]:
#One input per statement
fruit_name = input('Please enter your favorite fruit: ')
print('user input is: ',fruit_name)

Please enter your favorite fruit: apple
user input is:  apple

In [ ]:
age = input('Please enter your age :')
type(age)

Please enter your age :15

str

In [ ]:
#Multiple input per statement
fruit1, fruit2 = input('Please enter your two favorite fruits:' ).split()
print('the first input is: ' ,fruit1)
print('the second input is: ' ,fruit2)

Please enter your two favorite fruits:apple banana
the first input is:  apple
the second input is:  banana

In [ ]:
num1, num2 = input('Please enter your two favorite numbers:' ).split()
print('the first input is: ' ,num1, type(num1))
print('the second input is: ' ,num2, type(num2))

Please enter your two favorite numbers:15 47
the first input is:  15 <class 'str'>
the second input is:  47 <class 'str'>

In [ ]:
num1, num2 = input('Please enter your two favorite numbers:' ).split(',')
print('the first input is: ' ,int(num1), type(num1))
print('the second input is: ' ,int(num2), type(num2))

Please enter your two favorite numbers:12,15
the first input is:  12 <class 'str'>
the second input is:  15 <class 'str'>

# Question 1 (4 pt)
Write code to convert between Celsius, Kelvin, and Fahrenheit
- take Celsius as an input and compute Fahrenheit and kelvin as output

- take kelvin as an input and compute Fahrenheit and Celsius as output

- take Fahrenheit as an input and compute kelvin and Celsius as output

  https://en.wikipedia.org/wiki/Fahrenheit

In [5]:
#take Celsius as an input and compute Fahrenheit and kelvin as output
celsius = int(input("Celsius = "))
#

fahrenheit = celsius *9/5 + 32
kelvin = celsius + 273.15

print(celsius, 'C = ' , fahrenheit, ' F')
print(celsius, 'C = ' , kelvin, ' K')

Celsius = 50
50 C =  122.0  F
50 C =  323.15  K

In [16]:
#take kelvin as an input and compute Fahrenheit and Celsius as output
kelvin = int(input("Kelvin = "))
#

fahrenheit = (kelvin - 273.15) * 9/5 + 32
celsius = kelvin - 273.15

print(kelvin, 'K = ' , fahrenheit, ' F')
print(kelvin, 'K = ' , celsius, ' C')

Kelvin = 50
50 K =  -369.66999999999996  F
50 K =  -223.14999999999998  C

In [18]:
#take Fahrenheit as an input and compute kelvin and Celsius as output
fahrenheit = int(input("Fahrenheit = "))
#

kelvin = (fahrenheit - 32) * 5/9 + 273.15
celsius = (fahrenheit - 32) * 5/9

print(fahrenheit, 'F = ' , kelvin, ' K')
print(fahrenheit, 'F = ' , celsius, ' C')

Fahrenheit = 50
50 F =  283.15  K
50 F =  10.0  C

#Question 2 (2pt)
Write a code to accept 4 number (can be positive and negative) and compute the following
1. sum of all 4 numbers.
2. average of all 4 numbers.

**Examples:**
```
Input: 1, -18, 15, -8
The sum of all 4 numbers: -10
The average of all numbers: -2.5
```

In [24]:
inp1 = float(input("Input: "))
inp2 = float(input("Input: "))
inp3 = float(input("Input: "))
inp4 = float(input("Input: "))


total_sum = inp1 + inp2 + inp3 + inp4


average = total_sum / 4


print(f"The sum of all 4 numbers: {total_sum}")
print(f"The average of all numbers: {average}")

Input: 1
Input: -18
Input: 15
Input: -8
The sum of all 4 numbers: -10.0
The average of all numbers: -2.5

#Question 3 (2pt)

Write a code to accept width and height of a rectangle and compute
1. Perimeter
2. Area

**Examples:**
```
Width and Height of this rectangle: 12.5, 15.5
Perimeter of this rectangle: 56
Area of this rectangle: 193.75
```

In [25]:
width = float(input("width of this rectangle: "))
height = float(input("height of this rectangle: "))


perimeter = 2 * (width + height)


area = width * height


print(f"Perimeter of this rectangle: {perimeter}")
print(f"Area of this rectangle: {area}")

width of this rectangle: 12.5
height of this rectangle: 15.5
Perimeter of this rectangle: 56.0
Area of this rectangle: 193.75

#Question 4 (2pt)

Write a code to accept three number and output
* whether the first number is the greatest
* whether the second number is the greatest
* whether the third number is the greatest


**Examples:**
```
Enter three number: 10 , 55, 54
The first number is the greathest: False
The second number is the greathest: True
The third number is the greathest: False
```

```
Enter three number: 60 , 55, 54
The first number is the greathest: True
The second number is the greathest: False
The third number is the greathest: False
```

```
Enter three number: 60 , 55, 84
The first number is the greathest: False
The second number is the greathest: False
The third number is the greathest: True
```

In [27]:
var1, var2, var3 = input("Enter three number:").split(',')
var1 = int(var1)
var2 = int(var2)
var3 = int(var3)

is_first_greatest = (var1>var2) and (var1>var3)
print("The first number is the greathest: ", is_first_greatest)
is_second_greatest = (var2>var1) and (var2>var3)
print("The second number is the greathest: ", is_second_greatest)
is_third_greatest = (var3>var1) and (var3>var2)
print("The third number is the greathest: ", is_third_greatest)

Enter three number:60 , 55, 84
The first number is the greathest:  False
The second number is the greathest:  False
The third number is the greathest:  True