**Name:** Chaipat Sukboonlue

**ID:** 64109010096

**Date:** 23/09/2023

# Dictionary
Solve 3 python dictionary questions

## Question#1:
Write a program to check whether a given key exists in a dictionary or not

**Hint**

`Given capital_city = {"Thailand": "Bangkok", "Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}`

**Input**

Enter a country to check: Thailand

**Output**
`True`

In [5]:
# Write your code here
capital_city = {"Thailand": "Bangkok", "Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
x = input("Enter a country to check: ")
if x in capital_city:
    print("True")
else:
    print("False")

Enter a country to check: Thailand
True

## Question#2:
Write a program in python to map 2 lists into a dictionary.

**Hint**

Given


```
fields = ['name', 'last_name', 'age', 'job']
values = ['Waraporn', 'Viyanon', '20', 'Python Developer']
```



**Expected output**

`{'name': 'Waraporn', 'last_name': 'Viyanon', 'age': '20', 'job': 'Python Developer'}`

In [6]:
# Given two list convert it into dict
fields = ['name', 'last_name', 'age', 'job']
values = ['Waraporn', 'Viyanon', '20', 'Python Developer']

data_dict = {}

for i in range(len(fields)):
    data_dict[fields[i]] = values[i]

print(data_dict)

{'name': 'Waraporn', 'last_name': 'Viyanon', 'age': '20', 'job': 'Python Developer'}

##Question3:
Write a program to sum all the values of a dictionary.

**Hint**

`dict1 = {'day1': 200, 'day2': 300}`

**Expected output**
Result: 500

In [8]:
# Sum of dict values
dict1 = {'day1': 200, 'day2': 300}

total = 0

for value in dict1.values():
    total += value

print(total)

500



---

#Sets
Solve only 1 python set question.

## Question
Given two sets as follows:


```
# first set
A = {1, 3, 5}

# second set
B = {0, 2, 4}
```

print the result of performing the following operation

*   union operation using |
*   union operation using union()
* intersection operation using &
* intersection operation using intersection()

In [9]:
# first set
A = {1, 3, 5}

# second set
B = {0, 2, 4}


# perform union operation using |
print("union operation using | :", A | B)

# perform union operation using union()
print("union operation using union() :", A.union(B))

# perform intersection operation using &
print("intersection operation using & :", A & B)

# perform intersection operation using intersection()
print("intersection operation using intersection() :", A.intersection(B))

union operation using | : {0, 1, 2, 3, 4, 5}
union operation using union() : {0, 1, 2, 3, 4, 5}
intersection operation using & : set()
intersection operation using intersection() : set()